.chatfea {
    display: flex;
    align-items: 'self-start';
}

.chatfea p {
    background-color: #6684ff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px 15px;
}

.profile-pic img {

    width: 50px;
    border-radius: 50%;
}

.profile-pic {
    width: 50px;
    margin-right: 5px;
}


.chatfea.chatfea-right {
    flex-direction: row-reverse;
}


.chatfea.chatfea-right p {

    background-color: #939ca3;
}

.chatfea span {
    color: #939ca3;
    font-size: 14px;
}

.bottom-sec input {
    outline: none;
    border: none;
}